* {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: black;
}

.navbar{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 4px 32px;
  box-sizing: border-box;
}


.navbar__logo a{
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-decoration-line : none;
}

.navbar__logo i {
  color:#d49466;
}

.navbar__menu {
  display: flex;
  list-style:none;
  padding-left:0;
  color: white;
}


.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu > li > a {
  color: white;
  font-size: 20px;
  display: block;
  padding: 12px 36px;
  text-align: center;
  text-decoration-line : none;
}


.navbar__sub_menu {
  padding: 12px 12px;
  position: absolute;
  visibility: hidden;
  background: black;
  z-index: 1;
}

.navbar__sub_menu_contents {
  padding: 12px 30px;
}

.navbar__sub_menu_news {
  padding: 12px 30px;
}

.navbar__sub_menu > li > a {
  color: white;
  text-decoration-line : none;
}

.navbar__menu > li:hover .navbar__sub_menu {
  background-color: black;
  visibility: visible;
}

.navbar__icons {
  
  display: flex;
  padding-left:0;
}

.navbar__icons li{
  padding: 8px 12px;
}

.navbar__icons li a{
  text-decoration: none;
  font-size: 28px;
  list-style: none;
  color: white;
}

.navbar__toggleBtn{
  position: absolute;
  right: 32px;
  top: 3px;
  font-size: 24px;
  color: #d49466;
  display: none;
}

.intro {
  width: 100%;
  padding: 250px 0;
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
  url("../img/inmuu_story/OUR_PLACE/인트로.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* background-color: #000;
  opacity:0.7;  */
}

.intro h1 {
  color: #fff;
  
}

.intro .text {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.intro .text h1{
  font-size: 45px;
}

.intro .text p {
  color: #ffffff;
  font-size: 25px;
  margin-top: 30px;
}

.content_container {
  
  width: 1280px;
  min-height:900px;
  margin: 120px auto;
}

.part1 {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.part1 > .text-area  {
  
  position:relative;
  width: 50%;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  padding: 32px;
}

.part1 > .text-area > .width-line  {
  position:absolute;
  left: 0px;
  background-color: #fff;
  width: 200px;
  height: 3px;
  animation: fadein 1s;
  position: absolute;
  
}

.part1 > .text-area > .vertical-line  {
  position:absolute;
  top: 0px;
  background-color: #fff;
  width: 3px;
  height: 330px;
  animation: fadein 2s;
  position: absolute;
 
}


.part1 > .text-area > h2 {
  padding: 24px;
  color: #fff;
  font-size: 45px;
  font-weight: 600;
}
.part1 > .photo-area  {
  width: 50%;
  display: flex;
  justify-content:center;
}

.part1 > .photo-area > img  {
  width: 350px;
  border-radius: 70%;
  overflow: hidden;
}

.part2 {
  width: 90%;
  max-width: 1280px;
  margin: 80px auto 50px;  
  display: grid;
  /* 가로크기? */
  grid-template-columns: repeat(3, 1fr);
  /* 높이는 네가 알아서 해  */
  grid-template-rows: auto;
  grid-gap: 20px;
}

.part2 > .banner {
  background: black;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  display: flex;
  min-height: 100%;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
  top: 0;
  transition: 0.4s;
}

.part2 > .banner:hover {
  top: -2px;
}



.part2 > .banner > .text_container {
  height: 45%;
}

.part2 > .banner > .text_container > .title {
  padding: 20px;
  color: white;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
}

.part2 > .banner > .text_container > img {
  width: 100%;
  margin: 50px 0;
  border-radius: 70%;
  overflow: hidden;
}

.part2 > .banner > .text_container > .text {
  padding: 20px 20px 70px;
  color: grey;
  font-size: 25px;
  text-align: center;
}

.part3 {
  width: 55%;
  margin: 0 auto;
}

.part3 > .text-container {
  width: 80%;
  margin: 0 auto;
  position:relative;
  color: #fff;
  padding: 32px;
}

.part3 > .text-container > .width-line  {
  position:absolute;
  left: -60px;
  background-color: #fff;
  width: 560px;
  height: 3px;
  animation: fadein 1s;
  position: absolute;
  
}

.part3 > .text-container > .vertical-line  {
  position:absolute;
  top: 0px;
  background-color: #fff;
  width: 3px;
  height: 340px;
  animation: fadein 2s;
  position: absolute;
 
}


.part3 > .text-container > h2 {
  padding: 32px;
  font-size: 34px;
  font-weight: 600;
}

.part3 > .text-container > h1 {
  padding: 32px;
  font-size: 50px;
  font-weight: 600;
}





@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


footer {
  background-color: #17171C;
  width: 100%;
  color:#fff;
}

footer .footer_container {
  padding-top: 50px; padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
 
  
}

footer .footer_container .footer_title {
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 20px;
}

footer .footer_container .footer_info {
  display: flex;
}

footer .footer_container .footer_info .footer_info_left {
  padding-right: 40px;
}

footer .footer_container .footer_info .footer_info_left div{
  padding: 8px 0;
}

footer .footer_container .footer_info .footer_info_right div{
  padding: 8px 0;
}


@media screen and (max-width:1024px) {
  
  .navbar {
    
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

  }
  .navbar__logo a{
    font-size: 18px;
  }
  .navbar__menu{
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      
  }
  .navbar__menu li{
      width:100%;
      text-align: center;
  }

  .navbar__menu > li > a {
    /* 햄버거 메뉴에서는 상위 메뉴 글씨 크고 굵게 */
    font-size: 25px;
    font-weight : 550;
  }

  .navbar__sub_menu {
    opacity: 1;
    visibility: visible;
  }
  .navbar__sub_menu {
    position: static;
    display: none;
  
  }
  .navbar__icons{
      display: none;
      width: 100%;
      justify-content: center;
  }
  
  .navbar__toggleBtn{
      display: block;
  }

  .navbar.active {
    min-height:100vh;
  }

  .navbar__menu > li:hover .navbar__sub_menu {
    /* 햄버거 메뉴에서는 상위 메뉴 클릭시 하위 메뉴 색 검정색으로 나오도록 */
    background-color: black;
    
  }

  .navbar__menu.active,
  .navbar__icons.active{
      display:flex;
  }


  .navbar__sub_menu_story.active {
    display: block;
  }

  .navbar__sub_menu_contents.active {
    display: block;
  }

  .navbar__sub_menu_news.active {
    display: block;
  }

  .navbar__sub_menu_franchise.active {
    display: block;
  }

  .content_container {
  
    width: 100%;
  }
 
  .part1 {
    flex-direction: column;
    width: 90%;
  
  }

  .part1 > .text-area  {
  
    position:relative;
    width: 100%;
    color: #fff;
    padding: 32px 32px 92px 32px;
  }
  
  .part1 > .text-area > .width-line  {
    left: 0px;
    width: 350px;
    
  }
  
  .part1 > .text-area > .vertical-line  {
    width: 3px;
    height: 300px;
   
  }
  
  
  .part1 > .text-area > h2 {
    padding: 24px;
    font-size: 50px;
  }
  .part1 > .photo-area  {
    width: 100%;
    margin-top: 40px;
  }
  
  .part1 > .photo-area > img  {
    width: 600px;
  }
  
  .part2 {
    grid-template-columns: 1fr;

  }

  .part2 > .banner > .text_container > .title {
    font-size: 65px;
  }

  .part2 > .banner > .text_container > .text {
    font-size: 35px;
  }

  .part3 {
    width: 90%;
  }
  
  .part3 > .text-container {
    width: 100%;
    margin-left: 130px;
  }
  
  .part3 > .text-container > .width-line  {
    left: -20px;
    width: 480px;
    
  }
  
  .part3 > .text-container > .vertical-line  {
    top: 0px;
    width: 3px;
    height: 340px;
   
  }
  
  
  .part3 > .text-container > h2 {
    padding: 22px;
    font-size: 35px;
    font-weight: 600;
  }
  
  .part3 > .text-container > h1 {
    padding: 22px;
    font-size: 50px;
    font-weight: 600;
  }

}


@media screen and (max-width:768px) {

  .part1 > .text-area  {
  
    padding: 32px ;
  }
  
  .part1 > .text-area > .width-line  {
    left: 0px;
    width: 200px;
    
  }
  
  .part1 > .text-area > .vertical-line  {
    width: 3px;
    height: 230px;
   
  }

  .part1 > .text-area > h2 {
    font-size: 30px;
  }

  .part1 > .photo-area > img  {
    width: 300px;
  }
  
  .part2 > .banner > .text_container > .title {
    font-size: 45px;
  }

  .part2 > .banner > .text_container > .text {
    font-size: 20px;
  }



  .part3 > .text-container {
    margin-left: 20px;
  }

  .part3 > .text-container > .width-line  {
    left: -20px;
    width: 330px;
    
  }
  
  .part3 > .text-container > .vertical-line  {
    top: 0px;
    width: 3px;
    height: 240px;
   
  }
  
  
  .part3 > .text-container > h2 {
    font-size: 20px;
    font-weight: 600;
  }
  
  .part3 > .text-container > h1 {
    padding: 22px;
    font-size: 25px;
    font-weight: 600;
  }
}

