* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #818181;
}

.navbar{
  
  font-family: 'Jua';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  background-color:transparent;
  padding: 8px 12px;
}


.navbar__logo{
  font-size: 24px;
  font-weight: 550;
  color: white;
}

.navbar__logo a {
  color:#FF1493;
}

.navbar__menu {
  display: flex;
  list-style:none;
  padding-left:0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li a:hover {
  color: #FF1493;
}

.navbar__icons {
  font-size: 24px;
  list-style: none;
  color: black;
  display: flex;
  padding-left:0;
}

.navbar__icons li{
  padding: 8px 12px;
}

.navbar__toggleBtn{
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
  display: none;
}

.signboard {
  margin-top: 62px;
  width: 100%;
  height: 430px;
  /* padding: 250px 0; */
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),
  url("https://cdn.pixabay.com/photo/2015/07/02/10/40/writing-828911_1280.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* background-color: #000;
  opacity:0.7;  */
}


.content_container {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.intro {
  text-align: center;
}

.intro h1 {
  font-size: 40px;
}

.intro p {
  font-size: 20px;
  font-family: 'Jua';
}

.intro img {
  width: 80%;
  margin: 50px auto 100px;
}

.line {
  width: 35px;
  height: 5px;
  margin: 30px auto 45px;
  background-color: #FF1493;

}

.condition {
  margin-top: 130px;
  margin-bottom: 130px;
}

.condition > .title {
  font-size:40px;
  font-weight: 600;
  border-bottom: 0.2em solid #FF1493;
}

.condition .table_container {
  background-color: #fafafa;
  width: 100%;
  margin-top: 80px;
  padding: 40px 0;
  display: table;
  border-color: grey;
}

.condition table{
  width: 95%;
  margin: 0 auto;
}

.condition table tbody {
  /* width: 100%; */
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.condition table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.condition table th {
  width: 30%;
  padding: 20px 30px ;
  background: #fff;
  color: black;
  font-size: 1.125rem;
  letter-spacing: -0.25px;
  text-align: left;
  
}

.condition table td {
  width: 70%;
  padding: 20px 20px;
  font-size: 0.937rem;
  color: #666;
  background: #fff;
  display: table-cell;
  vertical-align: inherit;
  
}

.condition p {
  text-align: left;
  margin: 20px 30px;
}

.process > .title {
  font-size:40px;
  font-weight: 600;
  border-bottom: 0.2em solid #FF1493;
}

.box_container {
  padding: 120px 0 60px ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 330px;
  grid-gap: 1rem;
}

.box {
  border: solid 2px #e4e5ed;
}

.box .content {
  width: 85%;
  margin: 40px auto 15px;
  display: flex;
  flex-direction: column;
}

.box .content i {
  font-size: 60px;
}

.box > .content > .title {
  padding-top: 25px;
  font-size: 23px;
  font-weight: 650;
}

.box > .content > .title .num {
  color: #FF1493;
}

.box > .content > .instruction {
  padding-top: 25px;
  color: #666;
}

.process p {
  text-align: left;
}

.que:first-child{
  border-top: 1px solid black;
}

.que{
position: relative;
padding: 17px 0;
cursor: pointer;
font-size: 14px;
border-bottom: 1px solid #dddddd;

}

.que::before{
display: inline-block;
content: 'Q';
font-size: 14px;
color: #006633;
margin-right: 5px;
}

.que.on>span{
font-weight: bold;
color: #006633; 
}

.anw {
display: none;
  overflow: hidden;
font-size: 14px;
background-color: #f4f4f2;
padding: 27px 0;
}

.anw::before {
display: inline-block;
content: 'A';
font-size: 14px;
font-weight: bold;
color: #666;
margin-right: 5px;
}

.inquiry {
  padding-bottom: 100px;
}

.inquiry > .title {
  font-size:40px;
  font-weight: 600;
  border-bottom: 0.2em solid #FF1493;
}

.inquiry .post_container {
  margin-top: 100px;
  display: flex;

}

.inquiry .post_container .post {
  border: solid 2px #e4e5ed;
  border-radius: 17px;
  width: 48%;
  height: 350px;
  margin: 0 12px;

}

.inquiry .post_container .post .content {
  margin: 30px auto;
  width: 85%;
}

.inquiry .content .title {
  font-size:25px;
  font-weight: 600;
  padding-left: 8px;
}

/* for footer */

footer {
  background-color: #17171C;
  width: 100%;
}

footer .footer_container {
  padding-top: 50px; padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
  
}

footer .footer_container h3 {
  color: #B0B8B7;
}

footer .footer_container span {
  color: #6A7182;
  font-family: 'Jua';
}

@media screen and (max-width:768px) {
  /* for navbar */
  .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 24px;
  }
  .navbar__menu{
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .navbar__menu li{
      width:100%;
      text-align: center;
  }
  
  .navbar__icons{
      display: none;
      width: 100%;
      justify-content: center;
  }
  
  .navbar__toggleBtn{
      display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active{
      display:flex;
  }

  .content_container {
    width: 100%;
  }

  .intro img {
    width: 90%;
  }

  .process {
    width: 95%;
    margin: 0 auto;
  }

  .box_container {
    grid-template-columns: 1fr 1fr;
  }

  .box .content {
    width: 80%;
  }

  table{
    width: 100%;
  }

  th {
    width: 40%;
  }
  
  td {
    width: 60%;
  }

  .inquiry .post_container {
    flex-direction: column;
  }

  .inquiry .post_container .post {
    width: 90%;
    margin: 30px auto;
  }

}