* {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

.navbar{
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 4px 32px;
  box-sizing: border-box;
}


.navbar__logo a{
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-decoration-line : none;
}

.navbar__logo i {
  color:#d49466;
}

.navbar__menu {
  display: flex;
  list-style:none;
  padding-left:0;
  color: white;
}


.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu > li > a {
  color: white;
  font-size: 20px;
  display: block;
  padding: 12px 36px;
  text-align: center;
}


.navbar__sub_menu {
  padding: 12px 12px;
  position: absolute;
  visibility: hidden;
  background: black;
  z-index: 1;
}

.navbar__sub_menu_contents {
  padding: 12px 30px;
}

.navbar__sub_menu_news {
  padding: 12px 30px;
}

.navbar__sub_menu > li > a {
  color: white;
  text-decoration-line : none;
}

.navbar__menu > li:hover .navbar__sub_menu {
  background-color: rgba( 255, 255, 255, 0.2 );
  visibility: visible;
}

.navbar__icons {
  font-size: 28px;
  list-style: none;
  color: white;
  display: flex;
  padding-left:0;
}

.navbar__icons li{
  padding: 8px 12px;
}

.navbar__toggleBtn{
  position: absolute;
  right: 32px;
  top: 3px;
  font-size: 24px;
  color: #d49466;
  display: none;
}

.intro {
  width: 100%;
  height: 150px;
  padding: 170px 0;
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
  url("img/KakaoTalk_20211106_135901402.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* background-color: #000;
  opacity:0.7;  */
}

.intro h1 {
  color: #fff;
  
}

.intro .text {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.intro .text h1{
  font-size: 45px;
}

.intro .text p {
  color: #ffffff;
  font-size: 25px;
  margin-top: 30px;
}

.content_container {
  min-height:1300px;
}
.content_container > .content {
  display: flex;
  width: 1280px;
  margin: 100px auto;
}
.content_container .text_container {
  width: 65%;
  margin: 0 auto;
}

.content_container .text_container  h1 {
  font-weight: 600;
}

.content_container .text_container  .article {
  font-size: 23px;
  font-weight: 550;
}

.content_container .text_container .line {
  width: 650px;
  background-color: grey;
  margin-bottom: 40px;
  height: 1px;
}

.content_container .banner_container {
  min-height: 600px;
  width: 32%;
  margin: 0 auto;
}

.banner_container > img {
  height: 50%;
  width: 100%;
}

.banner_container > .text_box {
  width:100%;
  padding: 20px;
  border:1px solid black;
  /* height: 50%; */
}

.banner_container > .text_box > .title {
  color: #000080;
  font-weight: 600;
}

.banner_container > .text_box > .instrument {
  color: #808080;
  font-size: 20px;
  font-weight: 550;
  word-wrap:break-word;
}

.banner_container > .text_box > .notice {
  color: #000080;
  font-size: 30px;
  font-weight: 550;
}

.banner_container > .text_box > .explanation {
  color: #808080;
  font-size: 20px;
  font-weight: 550;
}

.banner_container > .text_box > form {
  margin-top: 23px;
}

select {
  width: 370px; 
  padding: 5px 5px; 
  background-color:#e9ecef;
  /* font-weight: 550; */
  font-size: 18px;
  color: #343a40;
  border: none;
  /* -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none; */
  
  /* border: 1px solid #999;
  font-family: inherit;  
  background: url('arrow.jpg') no-repeat 95% 50%; 
  border-radius: 0px; 
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none; */
}

select::-ms-expand {    
  /* display: none; */
}



footer {
  background-color: #17171C;
  width: 100%;
}

footer .footer_container {
  padding-top: 50px; padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
  
}

footer .footer_container h3 {
  color: #B0B8B7;
}

footer .footer_container span {
  
  color: #6A7182;
  font-family: 'Jua';
}


@media screen and (max-width:768px) {
  .navbar {
    
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

  }
  .navbar__logo a{
    font-size: 18px;
  }
  .navbar__menu{
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      
  }
  .navbar__menu li{
      width:100%;
      text-align: center;
  }
  .navbar__sub_menu {
    opacity: 1;
    visibility: visible;
  }
  .navbar__sub_menu {
    position: static;
    display: none;
  
  }
  .navbar__icons{
      display: none;
      width: 100%;
      justify-content: center;
  }
  
  .navbar__toggleBtn{
      display: block;
  }

  .navbar.active {
    min-height:100vh;
  }

  .navbar__menu.active,
  .navbar__icons.active{
      display:flex;
  }

  .navbar__sub_menu_contents.active {
    display: block;
  }

  .navbar__sub_menu_afil.active {
    display: block;
  }

  .navbar__sub_menu_inmuu.active {
    display: block;
  }

  .content_container > .content {
    flex-direction: column;
    width: 90%;
  }

  .content_container .text_container {
    width: 100%;
    
  }

  .content_container .text_container .line {
    width: 360px;
    
  }
  
  .content_container .banner_container {
    margin-top: 40px;
    width: 100%;
    
  }

  select {
    width: 330px;
  }



  
}

