* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #818181;
}

/* for video */
.video-container{
  width:100%;
  overflow:hidden;
  position:relative;
  padding-bottom: 48.4%; 
  /* 원래는 56.25% 돼있었음 조금 더 길이 줄이고 싶어서 48.4 해놓음 
    문제 생기면 원래대로 복구하자! (모바일에서는 56.25%로 해놨음)
  */
  /* 세로를0으로 해놓고 패딩으로 세로 길이를 설정하네?
  패딩은 가로 길이 기준인가 그래서 56.25%가 16:9?? 
  16:9 하니까 크기 움직여도 항상 블랙 바 없네 원래 영상 비율인가 봄 */
  /* 16:9 */
  height: 0;
}

.video-container iframe{
  position: absolute;
  top: -60px; 
  /* 위로 땡겨서 제목 짤리게 */
  left: 0;
  width: 100%;
  height: calc(100% + 120px); 
  /*길이 더 길게 해서 유튜브 마크 짤리게하는 듯 (오버플로우 히든인데 길이 100%에 120px더했으니??)?? */
}

.video-container iframe {
  pointer-events: none;
}
.video-foreground{
  pointer-events:none;
}

/* for navbar */

.navbar{
  
  font-family: 'Jua';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  background-color:transparent;
  padding: 8px 12px;
}

.navbar__logo{
  font-size: 24px;
  font-weight: 550;
  color: white;
}

.navbar__logo a {
  color:#FF1493;
}

.navbar__menu {
  display: flex;
  list-style:none;
  padding-left:0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li a:hover {
  color: #FF1493;
}

.navbar__icons {
  font-size: 24px;
  list-style: none;
  color: black;
  display: flex;
  padding-left:0;
}

.navbar__icons li{
  padding: 8px 12px;
}

.navbar__toggleBtn{
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
  display: none;
}

/* for slide */

.slide_1 {
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.slide_1 .content {
  width: 50%;
  text-align: center;
  padding: 250px 0;
  
  /* display: flex;
  justify-content: space-between; */

}

.slide_1 .content h1 {
  font-size: 45px;
}

/* .slide_1 .content .text {
  font-size: 1.2rem;
  width: 50%;
} */

.slide_2 {
  width: 100%;
}

.slide_2 .content {
  width: 100%;
  padding: 250px 0;
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
  url("https://i.imgur.com/kJ4vtIh.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* background-color: #000;
  opacity:0.7;  */
}

.slide_2 .text {
  width: 50%;
  margin-left:50px;
  color: #ffffff;
  font-size: 35px;
}

.slide_3 {
  width: 100%;
  
}

.slide_3 .container {
  padding: 250px 0;
  width: 100%;
  
  
}

.slide_3 .part_1 .text {
  width: 35%;
  margin-left: 100px;
} 

.slide_3 .part_1 .text h1 {
  font-size: 2.5rem;
}

.slide_3 .part_1 .text span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333d4b;
}
.slide_3 .part_1 .img_container {
  width: 70%;
  margin: 150px auto;
}
.slide_3 .part_1 .img_container img {
  width: 100%;

} 

.slide_3 .part_2 {
  width: 100%;
  margin: 300px 0 200px ;
  display: flex;

}

.slide_3 .part_2 img {
  width: 60%;
}

.slide_3 .part_2 .text {
  width: 35%;
  padding-left: 30px;
  padding-top: 70px;
}

.slide_3 .part_2 .text h1 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.slide_3 .part_2 .text h2 {
  color: #333d4b;
}

.slide_3 .part_3 {
  width: 100%;
  margin: 300px 0 0 ;
}

.slide_3 .part_3 .img_container {
  width: 70%;
  margin: 0 0 0 400px;
}

.slide_3 .part_3 .img_container img{
  width: 100%;
}

.slide_3 .part_3 h1 {
  width: 100%;
  margin: 150px auto 0;
  font-size: 2.4rem;
  text-align: left;
}

.slide_3 .part_4 {
  width: 100%;
  margin: 250px 0 0 ;
}

.slide_3 .part_4 .img_container {
  width: 70%;
  margin: 0 auto;
}

.slide_3 .part_4 .img_container img{
  width: 100%;
}

.slide_3 .part_4 h1 {
  width: 100%;
  margin: 200px auto 0;
  font-size: 2.4rem;
  text-align: center;
}

/* for parallax */

.parallax-window {
  height: 500px;
  background: transparent;
}

.slide_4 {
  width: 100%;
  background-color: #F3F4F5;
  
}
.slide_4 .content {
  width: 70%;
  margin: 0 auto;
  padding: 150px 0 80px;
  text-align: center;
}

.slide_4 .content h1 {
  font-size: 2.5rem;
}

.slide_4 ul {
  display: flex;
  margin: 50px 0;
}

.slide_4 ul li {
  padding: 40px 40px;
}

.slide_4 .icon_img {
  font-size: 3.5rem;
  color: #FF1493;
}

.slide_4 .bold {
  font-size: 1.7rem;
  padding: 20px 0;
  color: #FF1493;
}

.slide_4 .text {
  font-family: 'Jua';
  font-size: 1.3rem;
}

.slide_5 {
  width: 100%;

}

.slide_5 .content {
  width: 90%;
  margin: 0 auto;
  padding: 200px 0 80px;
  
}

.slide_5 .content h1 {
  text-align: center;
  font-size: 3rem;
}

.slide_5 .content ul{
  width: 100%;
  display: flex;
}

.slide_5 .content li{
  width: 33.3%;
  padding: 100px 20px 150px;
}

.slide_5 .review {
  height: 300px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.slide_5 .review_1{
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
  url("https://i.imgur.com/Zi0kdjT.jpg");
}

.slide_5 .review_2{
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
  url("https://i.imgur.com/iQad8e3.jpg");
}

.slide_5 .review_3{
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
  url("https://i.imgur.com/pKa1Lcp.jpg");
}

.slide_5 .review .text_container {
  width: 90%;
  margin: 0 auto;
  padding-top: 25px;
}

.slide_5 .review .text {
  
  color: #fff;
  font-size: 1.2rem;

}

.slide_5 .review .name {
  text-align: right;
  color: #fff;
  font-size: 1.2rem;
  padding-top: 30px;
}
.slide_6 {
  width: 100%;
  height: 800px;
}

.slide_6 .content {
  width: 100%;
  height: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),
  url("https://i.imgur.com/xEVs5XY.jpg");
  /* background-size: 100% 100vh; */
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.slide_6 .content h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}
.slide_6 .content span {
  background-color: #FF1493;
  padding: 8px 12px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;

}
.slide_6 .content span a {
  color: black;
}
/* for footer */

footer {
  background-color: #17171C;
  width: 100%;
}

footer .footer_container {
  padding-top: 50px; padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
  
}

footer .footer_container h3 {
  color: #B0B8B7;
}

footer .footer_container span {
  color: #6A7182;
  font-family: 'Jua';
}


@media screen and (max-width:768px) {
  /* for navbar */
  .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 24px;
  }
  .navbar__menu{
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .navbar__menu li{
      width:100%;
      text-align: center;
  }
  
  .navbar__icons{
      display: none;
      width: 100%;
      justify-content: center;
  }
  
  .navbar__toggleBtn{
      display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active{
      display:flex;
  }

  /* for video */

  .video-container{
    padding-bottom: 56.25%; 
  }

  /* for slide */

  .slide_1 .content {
    width: 100%;
    padding: 125px 12px;
  }

  .slide_1 .content h1 {
    text-align: center;
    font-size: 30px;
  }

  .slide_2 .text {
    width: 100%;
    margin:0;
    padding: 0 12px;
    font-size:25px;
  }


  .slide_3 .part_1 .text {
    width: 100%;
    margin: 0;
    padding: 0 15px;
  }

  .slide_3 .part_1 .text h1 {
    font-size: 1.8rem;
  }

  .slide_3 .part_1 .img_container {
    width: 90%;
    margin: 100px auto;
  }

  .slide_3 .part_2 {
    margin: 200px 0 0 ;
    display: flex;
    flex-direction: column;
  }

  .slide_3 .part_2 img {
    width: 85%;
  }
  
  .slide_3 .part_2 .text {
    width: 100%;
    padding: 30px 15px;
  }

  .slide_3 .part_2 .text h1 {
    font-size: 1.8rem;
  }
  
  .slide_3 .part_2 .text h2 {
    font-size: 1.2rem;
    color: #333d4b;
  }

  .slide_3 .part_3 {
    width: 100%;
    margin: 100px 0 0 ;
  }

  .slide_3 .part_3 .img_container {
    width: 80%;
    margin: 0 0 0 80px;
    
  }

  .slide_3 .part_3 .img_container img {
    height: 100%;
  }

  .slide_3 .part_3 h1 {
    font-size: 1.5rem;
  }

  .slide_3 .part_4 {
    width: 100%;
    margin: 100px 0 0 ;
  }

  .slide_3 .part_4 .img_container {
    width: 100%;
  }

  .slide_3 .part_4 .img_container img {
    height: 100%;
  }

  .slide_3 .part_4 h1 {
    font-size: 1.5rem;
    width: 80%;
  }

  .slide_4 .content h1 {
    font-size: 1.6rem;
  }

  .slide_4 ul {
    flex-direction: column;
  }

  .slide_5 .content h1 {
    font-size: 1.8rem;
  }

  .slide_5 .content ul{
    flex-direction: column;
  }

  .slide_5 .content li{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
  }

  .slide_6 .content h1 {
    font-size: 2.2rem;
  }

}



