* {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: black;
}

.navbar{
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 4px 32px;
  box-sizing: border-box;
}


.navbar__logo a{
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-decoration-line : none;
}

.navbar__logo i {
  color:#d49466;
}

.navbar__menu {
  display: flex;
  list-style:none;
  padding-left:0;
  color: white;
}


.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu > li > a {
  color: white;
  font-size: 20px;
  display: block;
  padding: 12px 36px;
  text-align: center;
}


.navbar__sub_menu {
  padding: 12px 12px;
  position: absolute;
  visibility: hidden;
  background: black;
  z-index: 1;
}

.navbar__sub_menu > li > a {
  color: white;
  text-decoration-line : none;
}

.navbar__menu > li:hover .navbar__sub_menu {
  background-color: rgba( 255, 255, 255, 0.2 );
  visibility: visible;
}

.navbar__icons {
  font-size: 28px;
  list-style: none;
  color: white;
  display: flex;
  padding-left:0;
}

.navbar__icons li{
  padding: 8px 12px;
}

.navbar__toggleBtn{
  position: absolute;
  right: 32px;
  top: 3px;
  font-size: 24px;
  color: #d49466;
  display: none;
}



/* main carousel start */
.main_carousel {
  
}
.main_carousel .carousel-inner {
 
}

.main_carousel .carousel-item {
  
}

.main_carousel .carousel-item > img {
  width: 100%;
  /* height: 85vh; */
  
}

.main_carousel .carousel-indicators {
  bottom: 50px;
}
.main_carousel .carousel-indicators [data-bs-target] {
  width: 60px;
  margin-left: 0;
  margin-right: 0;
}  

/* main carousel end */

.banners {
  width: 80%;
  margin: 0 auto;
  height: 700px;
  display:flex
}

.banners > .banner {
  width: 22%;
  margin: 30px auto;
  height: 500px;

  
}
.banners > .banner > img {
  width: 100%;
  height: 55%;
}

.banners > .banner > .text_container {
  border:1px solid #fff;
  height: 45%;
}

.banners > .banner > .text_container > .title {
  color: white;
  font-weight: 600;
  font-size: 25px;
}



.vlog_review_container {
  width: 100%;
  min-height: 700px;
  padding: 50px 0;
  display:flex;

}

.vlog_review_container .vlog_container {
 width: 60%;
}

.vlog_container {
  display: flex;
  flex-direction: row;
}

.vlog_container .video_container{
  width: 80%;
  margin: 90px auto;
}

.vlog_container .video_container > p {
  font-size: 35px;
  font-weight: 600;
}

iframe {
  width: 80%;
  height: 500px;
  border-radius: 15px;
}

.vlog_review_container .review_container {
  width: 40%;
  height: 700px;
}
.review_container .carousel{
  width: 300px;
  height: 450px;
  margin: 50px auto 0;
}
.review_container .carousel > p {
  font-size: 35px;
  font-weight: 600;
}
.review_container .carousel-indicators{
  margin-bottom:-140px;
}

.review_container .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/* .carousel-control-prev-icon{
  background-color: black;
}

.carousel-control-next-icon{
  color: gray;
} */

.link_container {
  width: 100%;
  height: 83%;
  background: #FADB03;
  display: flex;
}

.link_container .container1{
  width: 40%;
  height: 100%;
  background-color: red;
}

.link_container .container1 > img{
  width: 100%;
  height: 100%;
}

.link_container .container2{
  width: 70%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.link_container .container2 .sub_container1{
  height: 50%;
  background-color: orange;
  display: flex;
}

.link_container .container2 .sub_container1 .small_container1{
  width: 60%;
  background-color: gray;
}

.link_container .container2 .sub_container1 .small_container1 > img{
  width: 100%;
  height: 100%;
}

.link_container .container2 .sub_container1 .small_container2{
  width: 40%;
  background-color: #FE6512;
}

.link_container .container2 .sub_container1 .small_container2 > img{
  width: 100%;
  height: 100%;
}

.link_container .container2 .sub_container2{
  height: 50%;
  background-color: white;
  display: flex;
}

.link_container .container2 .sub_container2 .small_container1{
  width: 50%;
  background-color: aquamarine;
}

.link_container .container2 .sub_container2 .small_container1 > img{
  width: 100%;
  height: 100%;
}

.link_container .container2 .sub_container2 .small_container2{
  width: 50%;
  background-color: #d49466;
}

.link_container .container2 .sub_container2 .small_container2 > img {
  width: 100%;
  height: 100%;
}


.follow_us_container {
  width: 100%;
  padding: 150px 0;
  background: #fff;
}

.follow_us_container .text {
  width: 30%;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
  font-size: 30px;
}

.follow_us_container .text p {
  font-weight: 600;
}

.follow_us_container .text ul {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #17171C;
  width: 100%;
}

footer .footer_container {
  padding-top: 50px; padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
  
}

footer .footer_container h3 {
  color: #B0B8B7;
}

footer .footer_container span {
  
  color: #6A7182;
  font-family: 'Jua';
}


@media screen and (max-width:768px) {
  .navbar {
    
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

  }
  .navbar__logo a{
    font-size: 18px;
  }
  .navbar__menu{
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      
  }
  .navbar__menu li{
      width:100%;
      text-align: center;
  }
  .navbar__sub_menu {
    opacity: 1;
    visibility: visible;
  }
  .navbar__sub_menu {
    position: static;
    display: none;
  
  }
  .navbar__icons{
      display: none;
      width: 100%;
      justify-content: center;
  }
  
  .navbar__toggleBtn{
      display: block;
  }

  .navbar.active {
    min-height:100vh;
  }

  .navbar__menu.active,
  .navbar__icons.active{
      display:flex;
  }

  .navbar__sub_menu_contents.active {
    display: block;
  }

  .navbar__sub_menu_afil.active {
    display: block;
  }

  .navbar__sub_menu_inmuu.active {
    display: block;
  }




  .main_carousel .carousel-item > img {
    height: 250px;
  }

  .main_carousel .carousel-indicators {
    bottom: 10px;
  }

  .vlog_review_container {
    
    flex-direction: column;
  
  }


   .vlog_review_container .vlog_container {
    width: 100%;
   }
   
   .vlog_container .video_container{
     width: 100%;
     margin: 0 auto;
   }

   .vlog_container .video_container > p {
    font-size: 25px;
  }

   iframe {
    width: 100%;
    height: 280px;
  }

  .vlog_review_container .review_container {
    width: 100%;
  }

  .review_container .carousel{
    margin: 50px auto 0;
  }

  .review_container .carousel > p {
    font-size: 30px;
  }


  .link_container {
    
    display: flex;
    flex-direction: column;
    height:220%;
  }
  
  .link_container .container1{
    width: 100%;
  }
  
  .link_container .container2{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .link_container .container2 .sub_container1{
    width: 100%;
    flex-direction: column;
  }
  
  .link_container .container2 .sub_container1 .small_container1{
    width: 100%;
  }
  
  .link_container .container2 .sub_container1 .small_container2{
    width: 100%;
  }
  
  .link_container .container2 .sub_container2{
    width: 100%;
    flex-direction: column;
  }
  
  .link_container .container2 .sub_container2 .small_container1{
    width: 100%;

  }
  
  .link_container .container2 .sub_container2 .small_container2{
    width: 100%;
    
  }
  
  .follow_us_container .text {
    width: 80%;
  }
  
}

