* {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: black;
}

.navbar{
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 4px 32px;
  box-sizing: border-box;
}


.navbar__logo a{
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-decoration-line : none;
}

.navbar__logo i {
  color:#d49466;
}

.navbar__menu {
  display: flex;
  list-style:none;
  padding-left:0;
  color: white;
}


.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu > li > a {
  color: white;
  font-size: 20px;
  display: block;
  padding: 12px 36px;
  text-align: center;
}


.navbar__sub_menu {
  padding: 12px 12px;
  position: absolute;
  visibility: hidden;
  background: black;
  z-index: 1;
}

.navbar__sub_menu_contents {
  padding: 12px 30px;
}

.navbar__sub_menu_news {
  padding: 12px 30px;
}

.navbar__sub_menu > li > a {
  color: white;
  text-decoration-line : none;
}

.navbar__menu > li:hover .navbar__sub_menu {
  background-color: rgba( 255, 255, 255, 0.2 );
  visibility: visible;
}

.navbar__icons {
  font-size: 28px;
  list-style: none;
  color: white;
  display: flex;
  padding-left:0;
}

.navbar__icons li{
  padding: 8px 12px;
}

.navbar__toggleBtn{
  position: absolute;
  right: 32px;
  top: 3px;
  font-size: 24px;
  color: #d49466;
  display: none;
}



/* main carousel start */
.main_carousel {
  
}
.main_carousel .carousel-inner {
 
}

.main_carousel .carousel-item {
  
}

.main_carousel .carousel-item > img {
  width: 100%;
  /* height: 85vh; */
  
}

.main_carousel .carousel-indicators {
  bottom: 50px;
}
.main_carousel .carousel-indicators [data-bs-target] {
  width: 60px;
  margin-left: 0;
  margin-right: 0;
}  

/* main carousel end */

.banners {
  width: 90%;
  max-width: 1280px;
  margin: 50px auto;  
  display: grid;
  /* 가로크기? */
  grid-template-columns: repeat(3, 1fr);
  
  grid-gap: 20px;
}

.banners a {
  text-decoration: none;
}

.banners .banner {
  background: black;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
  top: 0;
  transition: 0.4s;
}

.banners  .banner:hover {
  top: -2px;
}

.banners  .banner  img {
  width: 100%;

}

.banners  .banner  .text_container {
  border:1px solid #fff;
}

.banners  .banner  .text_container  .title {
  padding: 20px;
  color: white;
  font-weight: 600;
  font-size: 35px;
}

.banners  .banner  .text_container  .text {
  border-top: 1px solid grey;
  padding: 20px 20px 90px;
  color: white;
  font-size: 25px;
  font-weight: 550;
}

/* 밴드데이 설명 텍스트 한 줄 더 있어서 높이 맞추기 위해 패딩 높이 줄이기 */

.banners .band_day .text_container .text{
  padding: 20px 20px 54px;
}

/* 프리클래스만 배경 색 흰색으로 */

.banners .free_class .text_container{
  background-color: #fff;
}


.banners .free_class .text_container .title, .banners .free_class .text_container .text{
  color: black;
}


.video-container {
  width: 1280px;
  padding: 100px 0;
  margin: 0 auto 80px;
  display: flex;
  /* align-items:center;  */
	justify-content:space-around;
  background-image: url('img/메인영상배경.png');
  background-size: cover;

}

.video-container > .text-area {
  color: #fff;
  
}

.video-container > .text-area > .title {
  display: flex;
  align-items: center;
}

.video-container > .text-area > .title > .in {
  font-size: 110px;
}

.video-container > .text-area > .title > .muuterview {
  font-size: 35px;
}

.video-container > .text-area > .explanation {
  font-size: 35px;
}

.video-container > .video-area {
  display: flex;
  align-items: center;

}


.video-container iframe {
  
  width: 500px;
  height: 300px;
 
}


.swiper-container {
  width: 1280px;
  padding: 100px 0;
	/* height:420px; */
  
}

.swiper-wrapper {
  
}

.swiper-slide {
	text-align:center;
	display:flex;
  /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center;
  /* 위아래 기준 중앙정렬 */
	justify-content:center;
  /* 좌우 기준 중앙정렬 */
  
}

.swiper-slide img {
	box-shadow:0 0 5px #555;
  width: 320px;
	max-width:100%; 
  /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
	/* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
  height: 300px;
}

.swiper-button-prev {
  
}

.swiper-button-next {
  
}

.title-for-swiper-community {
  color: #fff;
  font-size: 45px;
  padding: 10px 0;
  text-align: center;
}

.title-for-swiper-place {
  color: #fff;
  font-size: 45px;
  padding: 10px 0;
  text-align: center;
}

.modal {
	display: none;
	z-index: 500;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal button {
	position: absolute;
	top: 3rem;
	right: 3rem;
	background: transparent;
	border: 0;
	color: #ffffff;
	font-size: 3rem;
}

.modalBox {
	position: relative;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	background-color: #ffffff;
	width: 60%;
	/* height: 30%; */
	text-align: center;
}

.modalBox img {
	width: 100%;
}

.modalBox p {
	color: #ffffff;
	background-color: #000;
	font-size: 2rem;
	padding: .2rem;
}




/* .vlog_review_container {
  width: 100%;
  min-height: 700px;
  padding: 50px 0;
  display:flex;

}

.vlog_review_container .vlog_container {
 width: 60%;
}

.vlog_container {
  display: flex;
  flex-direction: row;
}

.vlog_container .video_container{
  width: 80%;
  margin: 90px auto;
}

.vlog_container .video_container > p {
  font-size: 35px;
  font-weight: 600;
}

iframe {
  width: 80%;
  height: 500px;
  border-radius: 15px;
}

.vlog_review_container .review_container {
  width: 40%;
  height: 700px;
}
.review_container .carousel{
  width: 300px;
  height: 450px;
  margin: 50px auto 0;
}
.review_container .carousel > p {
  font-size: 35px;
  font-weight: 600;
}
.review_container .carousel-indicators{
  margin-bottom:-140px;
}

.review_container .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
} */

/* .carousel-control-prev-icon{
  background-color: black;
}

.carousel-control-next-icon{
  color: gray;
} */

/* .link_container {
  width: 100%;
  height: 83%;
  background: #FADB03;
  display: flex;
}

.link_container .container1{
  width: 40%;
  height: 100%;
  background-color: red;
}

.link_container .container1 > img{
  width: 100%;
  height: 100%;
}

.link_container .container2{
  width: 70%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.link_container .container2 .sub_container1{
  height: 50%;
  background-color: orange;
  display: flex;
}

.link_container .container2 .sub_container1 .small_container1{
  width: 60%;
  background-color: gray;
}

.link_container .container2 .sub_container1 .small_container1 > img{
  width: 100%;
  height: 100%;
}

.link_container .container2 .sub_container1 .small_container2{
  width: 40%;
  background-color: #FE6512;
}

.link_container .container2 .sub_container1 .small_container2 > img{
  width: 100%;
  height: 100%;
}

.link_container .container2 .sub_container2{
  height: 50%;
  background-color: white;
  display: flex;
}

.link_container .container2 .sub_container2 .small_container1{
  width: 50%;
  background-color: aquamarine;
}

.link_container .container2 .sub_container2 .small_container1 > img{
  width: 100%;
  height: 100%;
}

.link_container .container2 .sub_container2 .small_container2{
  width: 50%;
  background-color: #d49466;
}

.link_container .container2 .sub_container2 .small_container2 > img {
  width: 100%;
  height: 100%;
}


.follow_us_container {
  width: 100%;
  padding: 150px 0;
  background: #fff;
}

.follow_us_container .text {
  width: 30%;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
  font-size: 30px;
}

.follow_us_container .text p {
  font-weight: 600;
}

.follow_us_container .text ul {
  display: flex;
  justify-content: center;
} */


footer {
  background-color: #17171C;
  width: 100%;
}

footer .footer_container {
  padding-top: 50px; padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
  
}

footer .footer_container h3 {
  color: #B0B8B7;
}

footer .footer_container span {
  
  color: #6A7182;
  font-family: 'Jua';
}

@media screen and (max-width:1024px) {
  
  .navbar {
    
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

  }
  .navbar__logo a{
    font-size: 18px;
  }
  .navbar__menu{
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      
  }
  .navbar__menu li{
      width:100%;
      text-align: center;
  }

  .navbar__menu > li > a {
    /* 햄버거 메뉴에서는 상위 메뉴 글씨 크고 굵게 */
    font-size: 25px;
    font-weight : 550;
  }

  .navbar__sub_menu {
    opacity: 1;
    visibility: visible;
  }
  .navbar__sub_menu {
    position: static;
    display: none;
  
  }
  .navbar__icons{
      display: none;
      width: 100%;
      justify-content: center;
  }
  
  .navbar__toggleBtn{
      display: block;
  }

  .navbar.active {
    min-height:100vh;
  }

  .navbar__menu > li:hover .navbar__sub_menu {
    /* 햄버거 메뉴에서는 상위 메뉴 클릭시 하위 메뉴 색 검정색으로 나오도록 */
    background-color: black;
    
  }

  .navbar__menu.active,
  .navbar__icons.active{
      display:flex;
  }


  .navbar__sub_menu_story.active {
    display: block;
  }

  .navbar__sub_menu_contents.active {
    display: block;
  }

  .navbar__sub_menu_news.active {
    display: block;
  }

  .navbar__sub_menu_franchise.active {
    display: block;
  }

  .banners  .banner  .text_container {
    height: 50%;
  }

  .banners  .banner  .text_container  .title {
    font-size: 30px;
  }

  .banners  .banner  .text_container  .text {
    padding: 20px 20px 70px;
  }
  
  /* 밴드데이 설명 텍스트 한 줄 더 있어서 높이 맞추기 위해 패딩 높이 줄이기 */
  
  .banners .band_day .text_container .text{
    padding: 20px 20px 34px;
  }
  
  
  .video-container {
    width:100%;
    padding: 50px 0;
    
  }

  .video-container .text-area {
    width: 80%;
    padding-left: 30px;
    margin-bottom: 50px;
  }

  .video-container > .text-area > .explanation {
    font-size: 30px;
  }
  
  .video-area {
    width: 100%;
  
  }

  .video-container iframe {
  
    width: 400px;
    height: 250px;
   
  }
  
  
  .swiper-container {
    width: 100%;

  }

  .swiper-slide img {
    height: 280px;
  }

}



@media screen and (max-width:768px) {
 
  .main_carousel .carousel-item > img {
    height: 200px;
  }

  .main_carousel .carousel-indicators {
    bottom: 0px;
  }

  /* .vlog_review_container {
    
    flex-direction: column;
  
  }


   .vlog_review_container .vlog_container {
    width: 100%;
   }
   
   .vlog_container .video_container{
     width: 100%;
     margin: 0 auto;
   }

   .vlog_container .video_container > p {
    font-size: 25px;
  }

   iframe {
    width: 100%;
    height: 280px;
  }

  .vlog_review_container .review_container {
    width: 100%;
  }

  .review_container .carousel{
    margin: 50px auto 0;
  }

  .review_container .carousel > p {
    font-size: 30px;
  }


  .link_container {
    
    display: flex;
    flex-direction: column;
    height:220%;
  }
  
  .link_container .container1{
    width: 100%;
  }
  
  .link_container .container2{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .link_container .container2 .sub_container1{
    width: 100%;
    flex-direction: column;
  }
  
  .link_container .container2 .sub_container1 .small_container1{
    width: 100%;
  }
  
  .link_container .container2 .sub_container1 .small_container2{
    width: 100%;
  }
  
  .link_container .container2 .sub_container2{
    width: 100%;
    flex-direction: column;
  }
  
  .link_container .container2 .sub_container2 .small_container1{
    width: 100%;

  }
  
  .link_container .container2 .sub_container2 .small_container2{
    width: 100%;
    
  }
  
  .follow_us_container .text {
    width: 80%;
  } */

  .banners {
    grid-template-columns: 1fr;
    width: 80%;
  }
  

  .video-container {
    width:100%;
    padding: 50px 0;
    flex-direction: column;
    align-items:center;
  }

  .video-container .text-area {
    width: 80%;
    padding: 0;
    margin-bottom: 50px;
  }

  .video-container > .text-area > .explanation {
    font-size: 30px;
  }
  
  .video-area {
    width: 100%;
  
  }

  .video-container iframe {
  
    width: 350px;
    height: 200px;
    margin: 0 auto ;
   
  }

  .modalBox {
    top: 20%;
    left: 50%;
    width: 80%;
    
  }
  
  
}

