* {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

.navbar{
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 4px 32px;
  box-sizing: border-box;
}


.navbar__logo a{
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-decoration-line : none;
}

.navbar__logo i {
  color:#d49466;
}

.navbar__menu {
  display: flex;
  list-style:none;
  padding-left:0;
  color: white;
}


.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu > li > a {
  color: white;
  font-size: 20px;
  display: block;
  padding: 12px 36px;
  text-align: center;
  text-decoration-line : none;
}


.navbar__sub_menu {
  padding: 12px 12px;
  position: absolute;
  visibility: hidden;
  background: black;
  z-index: 1;
}

.navbar__sub_menu_contents {
  padding: 12px 30px;
}

.navbar__sub_menu_news {
  padding: 12px 30px;
}

.navbar__sub_menu > li > a {
  color: white;
  text-decoration-line : none;
}

.navbar__menu > li:hover .navbar__sub_menu {
  background-color: rgba( 255, 255, 255, 0.2 );
  visibility: visible;
}

.navbar__icons {
  font-size: 28px;
  list-style: none;
  color: white;
  display: flex;
  padding-left:0;
}

.navbar__icons li{
  padding: 8px 12px;
}

.navbar__toggleBtn{
  position: absolute;
  right: 32px;
  top: 3px;
  font-size: 24px;
  color: #d49466;
  display: none;
}

.intro {
  width: 100%;
  height: 150px;
  padding: 170px 0;
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
  url("../img/KakaoTalk_20211106_135901402.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* background-color: #000;
  opacity:0.7;  */
}

.intro h1 {
  color: #fff;
  
}

.intro .text {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.intro .text h1{
  font-size: 45px;
}

.intro .text p {
  color: #ffffff;
  font-size: 25px;
  margin-top: 30px;
}

.content_container {
  width: 1280px;
  margin: 100px auto;
  min-height: 800px;
}

.content_container > .title > h1{
  font-weight: 600;
}

.content_container > .title_line {
  width: 280px;
  height: 2px;
  background-color: #17171C;
}

.content_container > .news_box {
 min-height:350px;
 height: 350px;
 border: 1px solid black;
 margin-top: 40px;
 display: flex;
}

.content_container > .news_box > img{
  width:40%;
  height: 100%;
 }

 .content_container > .news_box > .text_area{
  width:60%;
  padding: 20px;
  
 }
 .content_container > .news_box > .text_area > .text_title{
  font-weight: 600;
 }

 .content_container > .news_box > .text_area > .text_detail{
  padding: 0 0;
  font-size: 23px;
  color: #808080;
  font-weight: 550;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  white-space: normal;

  
  /* white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; */
 }

 .content_container > .news_box > .text_area > a >.button{
  text-align: right;
  font-size: 25px;
  color: #000080;
  font-weight: 600;
  padding: 12px
 }

 .content_container .news_box a {
  text-decoration: none;
 } 

.content_container > .news_box_1 {
 
 }

 .content_container > .news_box_2 {
 
 }


footer {
  background-color: #17171C;
  width: 100%;
}

footer .footer_container {
  padding-top: 50px; padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
  
}

footer .footer_container h3 {
  color: #B0B8B7;
}

footer .footer_container span {
  
  color: #6A7182;
  font-family: 'Jua';
}

@media screen and (max-width:1024px) {
  
  .navbar {
    
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

  }
  .navbar__logo a{
    font-size: 18px;
  }
  .navbar__menu{
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      
  }
  .navbar__menu li{
      width:100%;
      text-align: center;
  }

  .navbar__menu > li > a {
    /* 햄버거 메뉴에서는 상위 메뉴 글씨 크고 굵게 */
    font-size: 25px;
    font-weight : 550;
  }

  .navbar__sub_menu {
    opacity: 1;
    visibility: visible;
  }
  .navbar__sub_menu {
    position: static;
    display: none;
  
  }
  .navbar__icons{
      display: none;
      width: 100%;
      justify-content: center;
  }
  
  .navbar__toggleBtn{
      display: block;
  }

  .navbar.active {
    min-height:100vh;
  }

  .navbar__menu > li:hover .navbar__sub_menu {
    /* 햄버거 메뉴에서는 상위 메뉴 클릭시 하위 메뉴 색 검정색으로 나오도록 */
    background-color: black;
    
  }

  .navbar__menu.active,
  .navbar__icons.active{
      display:flex;
  }


  .navbar__sub_menu_story.active {
    display: block;
  }

  .navbar__sub_menu_contents.active {
    display: block;
  }

  .navbar__sub_menu_news.active {
    display: block;
  }

  .navbar__sub_menu_franchise.active {
    display: block;
  }

  .content_container {
    width: 90%;
  }

  .content_container > .news_box {
    flex-direction: column;
    height: 1130px;
  }

  .content_container > .news_box_2 {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .content_container > .news_box > img{
  width:100%;
  }

  .content_container > .news_box > .text_area{
  width:100%;
  }

  .content_container > .news_box > .text_area > .text_detail{
    -webkit-line-clamp: 4;
   }


  

}


@media screen and (max-width:768px) {

  .content_container {
    width: 90%;
  }

  .content_container > .news_box {
    height: 730px;
  }

}

