* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #818181;
}

.navbar{
  font-family: 'Jua';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  /* background-color:transparent; */
  padding: 8px 12px;
}

.navbar__logo{
  font-size: 24px;
  font-weight: 550;
  color: white;
}

.navbar__logo a {
  color:#FF1493;
}

.navbar__menu {
  display: flex;
  list-style:none;
  padding-left:0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li a:hover {
  color: #FF1493;
}

.navbar__icons {
  font-size: 24px;
  list-style: none;
  color: black;
  display: flex;
  padding-left:0;
}

.navbar__icons li{
  padding: 8px 12px;
}

.navbar__toggleBtn{
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
  display: none;
}

.content_container {
 padding: 140px 0 100px; 
 background-color: #F3F4F5;
 min-height: 800px;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.content h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.content iframe {
  width: 100%;
  height: 592px;
}

.content .memo{
  margin-top: 40px;
  font-size: 18px;
}

.content .list_button {
  text-align: center;
  width: 150px;
  margin: 70px auto 0;
  padding: 8px 12px;
  border: solid 2px black;
  border-radius: 10px;
  cursor: pointer;
}
/* for footer */

footer {
  background-color: #17171C;
  width: 100%;
}

footer .footer_container {
  padding-top: 50px; padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
  
}

footer .footer_container h3 {
  color: #B0B8B7;
}

footer .footer_container span {
  color: #6A7182;
  font-family: 'Jua';
}

@media screen and (max-width:768px) {
  /* for navbar */
  .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 24px;
  }
  .navbar__menu{
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .navbar__menu li{
      width:100%;
      text-align: center;
  }
  
  .navbar__icons{
      display: none;
      width: 100%;
      justify-content: center;
  }
  
  .navbar__toggleBtn{
      display: block;
  }

  .navbar.active{
    background-color: #fff;
  }

  .navbar__menu.active,
  .navbar__icons.active{
      display:flex;
  }

  .content {
    width: 88%;
  }

  .content iframe {
    width: 100%;
    height: 200px;
  }
  

}