* {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

.navbar{
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 4px 32px;
  box-sizing: border-box;
}


.navbar__logo a{
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-decoration-line : none;
}

.navbar__logo i {
  color:#d49466;
}

.navbar__menu {
  display: flex;
  list-style:none;
  padding-left:0;
  color: white;
}


.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu > li > a {
  color: white;
  font-size: 20px;
  display: block;
  padding: 12px 36px;
  text-align: center;
}


.navbar__sub_menu {
  padding: 12px 12px;
  position: absolute;
  visibility: hidden;
  background: black;
  z-index: 1;
}

.navbar__sub_menu_contents {
  padding: 12px 30px;
}

.navbar__sub_menu_news {
  padding: 12px 30px;
}

.navbar__sub_menu > li > a {
  color: white;
  text-decoration-line : none;
}

.navbar__menu > li:hover .navbar__sub_menu {
  background-color: rgba( 255, 255, 255, 0.2 );
  visibility: visible;
}

.navbar__icons {
  font-size: 28px;
  list-style: none;
  color: white;
  display: flex;
  padding-left:0;
}

.navbar__icons li{
  padding: 8px 12px;
}

.navbar__toggleBtn{
  position: absolute;
  right: 32px;
  top: 3px;
  font-size: 24px;
  color: #d49466;
  display: none;
}

.intro {
  width: 100%;
  height: 150px;
  padding: 170px 0;
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
  url("../img/KakaoTalk_20211106_135901402.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* background-color: #000;
  opacity:0.7;  */
}

.intro h1 {
  color: #fff;
  
}

.intro .text {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.intro .text h1{
  font-size: 45px;
}

.content_container {
  width: 1280px;
  margin: 0 auto;
  min-height: 700px;
}

.content_container > img {
  width: 100%;
}

footer {
  background-color: #17171C;
  width: 100%;
}

footer .footer_container {
  padding-top: 50px; padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
  
}

footer .footer_container h3 {
  color: #B0B8B7;
}

footer .footer_container span {
  
  color: #6A7182;
  font-family: 'Jua';
}


@media screen and (max-width:768px) {
  .navbar {
    
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

  }
  .navbar__logo a{
    font-size: 18px;
  }
  .navbar__menu{
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      
  }
  .navbar__menu li{
      width:100%;
      text-align: center;
  }
  .navbar__sub_menu {
    opacity: 1;
    visibility: visible;
  }
  .navbar__sub_menu {
    position: static;
    display: none;
  
  }
  .navbar__icons{
      display: none;
      width: 100%;
      justify-content: center;
  }
  
  .navbar__toggleBtn{
      display: block;
  }

  .navbar.active {
    min-height:100vh;
  }

  .navbar__menu.active,
  .navbar__icons.active{
      display:flex;
  }

  .navbar__sub_menu_contents.active {
    display: block;
  }

  .navbar__sub_menu_afil.active {
    display: block;
  }

  .navbar__sub_menu_inmuu.active {
    display: block;
  }

  .content_container {
    width: 100%;
    
  }

  .content_container > img {
    width: 100%;
    
  }
  
}

