* {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.navbar{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 4px 32px;
  box-sizing: border-box;
}


.navbar__logo a{
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-decoration-line : none;
}

.navbar__logo i {
  color:#d49466;
}

.navbar__menu {
  display: flex;
  list-style:none;
  padding-left:0;
  color: white;
}


.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu > li > a {
  color: white;
  font-size: 20px;
  display: block;
  padding: 12px 36px;
  text-align: center;
  text-decoration-line : none;
}


.navbar__sub_menu {
  padding: 12px 12px;
  position: absolute;
  visibility: hidden;
  background: black;
  z-index: 1;
}

.navbar__sub_menu_contents {
  padding: 12px 30px;
}

.navbar__sub_menu_news {
  padding: 12px 30px;
}

.navbar__sub_menu > li > a {
  color: white;
  text-decoration-line : none;
}

.navbar__menu > li:hover .navbar__sub_menu {
  background-color: black;
  visibility: visible;
}

.navbar__icons {
  font-size: 28px;
  list-style: none;
  color: white;
  display: flex;
  padding-left:0;
}

.navbar__icons li{
  padding: 8px 12px;
}

.navbar__toggleBtn{
  position: absolute;
  right: 32px;
  top: 3px;
  font-size: 24px;
  color: #d49466;
  display: none;
}

.intro {
  width: 100%;
  padding: 250px 0;
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
  url("../img/our_contents/인트로.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* background-color: #000;
  opacity:0.7;  */
}

.intro .text {
  
  font-size: 45px;
  color: #fff;
}


.content_container {
  
  width: 1280px;
  min-height:900px;
  margin: 120px auto;
}

.video-container {
  /* padding: 100px 0;
  margin: 0 auto 80px; */
  display: flex;
	justify-content:space-between;
  background-size: cover;

}

.video-container > .text-area {
  
}

.video-container > .text-area > .title {
  display: flex;
  align-items: center;
}

.video-container > .text-area > .title > .in {
  font-size: 110px;
  font-weight: 600;
  padding-bottom: 10px;
}

.video-container > .text-area > .title > .muuterview {
  font-size: 35px;
  font-weight: 600;
}

.video-container > .text-area > .explanation {
  font-size: 35px;
  font-weight: 550;
}

.video-container > .video-area {
  display: flex;
  align-items: center;

}


.video-container > .video-area > a > img {
  
  width: 700px;
  height: 360px;
 
}

.line {
  border: 1px solid black;
  margin: 100px 0;
}

.ps_container h1{
  font-weight: 600;
}

.ps_container p{
  font-weight: 550;
}

footer {
  background-color: #17171C;
  width: 100%;
}

footer .footer_container {
  padding-top: 50px; padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
  
}

footer .footer_container h3 {
  color: #B0B8B7;
}

footer .footer_container span {
  
  color: #6A7182;
  font-family: 'Jua';
}

@media screen and (max-width:1024px) {
  
  .navbar {
    
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

  }
  .navbar__logo a{
    font-size: 18px;
  }
  .navbar__menu{
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      
  }
  .navbar__menu li{
      width:100%;
      text-align: center;
  }

  .navbar__menu > li > a {
    /* 햄버거 메뉴에서는 상위 메뉴 글씨 크고 굵게 */
    font-size: 25px;
    font-weight : 550;
  }

  .navbar__sub_menu {
    opacity: 1;
    visibility: visible;
  }
  .navbar__sub_menu {
    position: static;
    display: none;
  
  }
  .navbar__icons{
      display: none;
      width: 100%;
      justify-content: center;
  }
  
  .navbar__toggleBtn{
      display: block;
  }

  .navbar.active {
    min-height:100vh;
  }

  .navbar__menu > li:hover .navbar__sub_menu {
    /* 햄버거 메뉴에서는 상위 메뉴 클릭시 하위 메뉴 색 검정색으로 나오도록 */
    background-color: black;
    
  }

  .navbar__menu.active,
  .navbar__icons.active{
      display:flex;
  }


  .navbar__sub_menu_story.active {
    display: block;
  }

  .navbar__sub_menu_contents.active {
    display: block;
  }

  .navbar__sub_menu_news.active {
    display: block;
  }

  .navbar__sub_menu_franchise.active {
    display: block;
  }

  .intro h1 {
    top: 100px;
    left: 60%;
  }

  .content_container {
  
    width:90%;
    margin: 0 auto;
  }
  

  .video-container {
    
    flex-direction: row;
  
  }




  .video-container > .text-area > .title {
    display: flex;
    align-items: center;
  }
  
  .video-container > .text-area > .title > .in {
    font-size: 73px;
    font-weight: 600;
  }
  
  .video-container > .text-area > .title > .muuterview {
    font-size: 23px;
    font-weight: 600;
  }
  
  .video-container > .text-area > .explanation {
    font-size: 25px;
    font-weight: 550;
  }

  .video-container > .video-area > a > img {
    margin-top: 25px;
    width: 440px;
    height: 250px;
   
  }

  .ps_container{
    margin-bottom: 70px;
  }


}



@media screen and (max-width:768px) {
  

  .intro h1 {
    top: 100px;
    left: 60%;
  }

  .content_container {
  
    width:90%;
    margin: 0 auto;
  }
  
  .video-container {
    
    flex-direction: column;
  
  }

  .video-container > .text-area {
    
  }

  .video-container > .text-area > .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .video-container > .text-area > .title > .in {
    font-size: 110px;
    font-weight: 600;
  }
  
  .video-container > .text-area > .title > .muuterview {
    font-size: 35px;
    font-weight: 600;
  }
  
  .video-container > .text-area > .explanation {
    font-size: 30px;
    font-weight: 550;
    text-align: center;
  }

  .video-container > .video-area > a > img {
    margin-top: 25px;
    width:100%;
   
   
  }
  
  
}

